@tailwind base;
@tailwind components;
@tailwind utilities;

.h-86 {
  height: 400px;
}

figure {
  width: 500%;
}

figure img {
  width: 20%;
  float: left;
}

.img-slider{
  background-repeat: no-repeat;
  height: 100%;
}

.h-75{
  height: 30rem;
}

.pup-over{
  background: rgba(9, 170, 81, 0.459);
}

.img:hover .pup-over {
  display: block;
}

.list{
  list-style: disc;
}
