@tailwind base;
@tailwind components;
@tailwind utilities;

.h-86 {
  height: 400px;
}

figure {
  width: 500%;
}

figure img {
  width: 20%;
  float: left;
}

.img-slider{
  background-repeat: no-repeat;
  height: 100%;
}
